@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #ffffff;
  --basic-dark: #323232;
  --basic-gray: #5a5a5a;
  --basic-orange: #e84d37;
  --transparent-white: rgba(255, 255, 255, 0.2);
  --transparent-dark: rgba(50, 50, 50, 0.3);
  --hover-item: #fbded7;
  --active-item: #f6b5a5;
  --current-item: #d07058;
  --menu-item-active: #ededed;
  --shadow-menu-item-active: #696969;
  --link-hover: #ffbc9e;
  --link-hover-uppercase: rgba(255, 188, 158, 0.3);
  --link-hover-uppercase-2: rgba(232, 77, 55, 0.3);
  --btn-gradient: linear-gradient(180deg, #f26843, #e74a35);
  --btn-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --btn-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843, #e74a35);
  --btn-hover-shadow: 0px 2px 2px #ac1000;
  --btn-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843, #e74a35);
  --btn-active-shadow: inset 0px 2px 2px #942718;
  --bg-form: #f8f7f4;
  --border-form: rgba(178, 178, 178, 0.52);
  --border-form-hover: rgba(178, 178, 178, 0.52);
  --outline-focus-form: rgba(46, 136, 228, 0.52);
  --popup-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  --bg-1: #849d8f;
  --bg-2: #8996a6;
  --bg-3: #9d8b84;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--bg-1);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background: var(--btn-gradient);
  border: none;
  box-shadow: var(--btn-shadow);
}

.btn:hover {
  color: var(--basic-white);
  background: var(--btn-hover);
  box-shadow: var(--btn-hover-shadow);
}

.btn:focus {
  outline: none;
}

.btn:active {
  background: var(--btn-active);
  box-shadow: var(--btn-active-shadow);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item > a {
  display: inline-block;
  padding-bottom: 3px;
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-white);
  border-bottom: 1px solid var(--transparent-white);
}

.site-navigation-item > a:hover {
  padding: 9px 14px 11px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.site-navigation-item > a:active {
  background-color: var(--menu-item-active);
  box-shadow: inset 0px 2px 1px var(--shadow-menu-item-active);
}

.site-navigation-category {
  position: relative;
}

.category-menu {
  position: absolute;
  display: none;
  width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: var(--popup-shadow);
}

.category-menu-item a {
  display: block;
  padding: 9px 21px;
  padding-right: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.category-menu-item:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.category-menu-item:last-child a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.category-menu-item a:hover {
  background-color: var(--hover-item);
}

.category-menu-item a:active {
  background-color: var(--active-item);
}

.category-menu-novelty {
  border-bottom: 1px solid var(--transparent-dark);
}

.category-menu-novelty a {
  padding-top: 13px;
  padding-bottom: 14px;
  line-height: 18px;
  font-weight: bold;
}

.site-navigation-category:hover > .category-menu {
  display: block;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu-item {
  position: relative;
}

.user-menu-item .user-btn {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  height: 32px;
  background-color: var(--transparent-white);
  border: none;
  border-radius: 20px;
  outline: none;
}

.user-menu-item .user-btn:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.user-menu-item .user-btn-search {
  width: 32px;
  background-image: url("../img/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.user-menu-item .user-btn-search:hover {
  background-image: url("../img/icons/search-hover.svg");
}

.user-menu-item .user-btn-login {
  padding-left: 44px;
  padding-right: 16px;
  background-image: url("../img/icons/login.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

.user-menu-item .user-btn-login:hover {
  background-image: url("../img/icons/login-hover.svg");
}

.user-menu-item .user-btn-cart {
  padding-left: 45px;
  padding-right: 16px;
  background-image: url("../img/icons/cart.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

.user-menu-item .user-btn-cart:hover {
  background-image: url("../img/icons/cart-hover.svg");
}

.user-menu-item .user-popup {
  position: absolute;
  display: none;
  background-color: var(--bg-form);
  border-radius: 4px;
  box-shadow: var(--popup-shadow);
}

.user-menu-item input {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  width: 100%;
  height: 44px;
  padding: 16px 14px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-form);
  border-radius: 4px;
}

.user-menu-item input:hover {
  border: 2px solid var(--border-form-hover);
}

.user-menu-item input:focus,
.user-menu-item input:placeholder-shown {
  font-weight: 400;
}

.user-menu-item input:focus {
  outline: 2px solid var(--outline-focus-form);
}

.search {
  width: 341px;
  padding: 20px 15px;
}

.user-btn-search:hover + .search {
  display: block;
}

.login {
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.login input {
  margin-bottom: 20px;
}

.login .btn {
  line-height: 16px;
  padding: 15px 25px;
  border-radius: 26px;
}

.login a {
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
  color: var(--basic-dark);
  border-bottom: 1px solid var(--transparent-dark);
}

.login a:hover,
.login a:active {
  color: var(--basic-orange);
  border-bottom-color: var(--link-hover-uppercase-2);
}

.user-btn-login:hover + .login {
  display: block;
}

.work-schedule {
  font-weight: bold;
}

.work-schedule p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.work-schedule a {
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}
