@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #ffffff;
  --basic-dark: #323232;
  --basic-gray: #5a5a5a;
  --basic-orange: #e84d37;
  --transparent-white: rgba(255, 255, 255, 0.2);
  --transparent-dark: rgba(50, 50, 50, 0.3);
  --hover-item: #fbded7;
  --active-item: #f6b5a5;
  --current-item: #d07058;
  --menu-item-active: #ededed;
  --shadow-menu-item-active: #696969;
  --link-hover: #ffbc9e;
  --link-hover-underline: rgba(255, 188, 158, 0.3);
  --link-hover-underline-2: rgba(232, 77, 55, 0.3);
  --btn-gradient: linear-gradient(180deg, #f26843, #e74a35);
  --btn-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --btn-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843, #e74a35);
  --btn-hover-shadow: 0px 2px 2px #ac1000;
  --btn-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843, #e74a35);
  --btn-active-shadow: inset 0px 2px 2px #942718;
  --bg-form: #f8f7f4;
  --border-form: rgba(178, 178, 178, 0.52);
  --border-form-hover: rgba(178, 178, 178, 0.52);
  --outline-focus-form: rgba(46, 136, 228, 0.52);
  --popup-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  --btn-slider-hover: rgba(255, 255, 255, 0.4);
  --price-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  --product-hover-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  --filter-point: rgba(255, 255, 255, 0.8);
  --filter-point-disabled: rgba(255, 255, 255, 0.4);
  --price-range-scale: rgba(248, 247, 244, 0.5);
  --price-range-toggle-bc: #ababab;
  --bg-1: #849d8f;
  --bg-2: #8996a6;
  --bg-3: #9d8b84;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--bg-1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.slider-bg-1 {
  background: var(--bg-1) url("../img/slide-1.png") no-repeat;
}

.slider-bg-2 {
  background: var(--bg-2) url("../img/slide-2.png") no-repeat;
}

.slider-bg-3 {
  background: var(--bg-3) url("../img/slide-3.png") no-repeat;
}

.btn {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background: var(--btn-gradient);
  border: none;
  border-radius: 70px;
  box-shadow: var(--btn-shadow);
}

.btn:hover {
  color: var(--basic-white);
  background: var(--btn-hover);
  box-shadow: var(--btn-hover-shadow);
}

.btn:focus {
  outline: none;
}

.btn:active {
  background: var(--btn-active);
  box-shadow: var(--btn-active-shadow);
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.main-header-logo {
  margin: 9px 24px 0 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  margin-right: 32px;
}

.site-navigation-item:last-child {
  margin: 0;
}

.site-navigation-item a {
  outline: none;
}

.site-navigation-item > a {
  display: block;
  padding: 6px 0 3px;
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-white);
  border-bottom: 1px solid var(--transparent-white);
}

.site-navigation-item > a:hover {
  padding: 6px 14px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border: none;
  border-radius: 26px;
}

.site-navigation-item > a:active {
  background-color: var(--menu-item-active);
  border: none;
  box-shadow: inset 0px 2px 1px var(--shadow-menu-item-active);
}

.site-navigation-category {
  position: relative;
}

.site-navigation-current > a {
  padding: 6px 14px;
  background-color: var(--current-item);
  border: none;
  border-radius: 26px;
}

.category-menu {
  position: absolute;
  display: none;
  width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: var(--popup-shadow);
}

.category-menu-item a {
  display: block;
  padding: 9px 21px;
  padding-right: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.category-menu-item:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.category-menu-item:last-child a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.category-menu-item a:hover {
  background-color: var(--hover-item);
}

.category-menu-item a:active {
  background-color: var(--active-item);
}

.category-menu-novelty {
  border-bottom: 1px solid var(--transparent-dark);
}

.category-menu-novelty a {
  padding-top: 13px;
  padding-bottom: 14px;
  line-height: 18px;
  font-weight: bold;
}

.site-navigation-category:hover > .category-menu {
  display: block;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
}

.user-menu-item {
  margin-right: 10px;
}

.user-menu-item:last-child {
  margin: 0;
}

.user-menu-item .user-btn {
  height: 32px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  background-color: var(--transparent-white);
  border: none;
  border-radius: 20px;
  outline: none;
}

.user-menu-item .user-btn:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.user-menu-item .user-btn-search {
  width: 32px;
  background-image: url("../img/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.user-menu-item .user-btn-search:hover {
  background-image: url("../img/icons/search-hover.svg");
}

.user-menu-item .user-btn-login {
  padding-left: 44px;
  padding-right: 16px;
  background-image: url("../img/icons/login.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

.user-menu-item .user-btn-login:hover {
  background-image: url("../img/icons/login-hover.svg");
}

.user-menu-item .user-btn-cart {
  padding-left: 45px;
  padding-right: 16px;
  background-image: url("../img/icons/cart.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

.user-menu-item .user-btn-cart:hover {
  background-image: url("../img/icons/cart-hover.svg");
}

.user-menu-item .user-popup {
  position: absolute;
  display: none;
  background-color: var(--bg-form);
  border-radius: 4px;
  box-shadow: var(--popup-shadow);
}

.user-menu-item input {
  width: 100%;
  height: 44px;
  padding: 16px 14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  background-color: var(--basic-white);
  border: 1px solid var(--border-form);
  border-radius: 4px;
}

.user-menu-item input:hover {
  border: 2px solid var(--border-form-hover);
}

.user-menu-item input:focus,
.user-menu-item input:placeholder-shown {
  font-weight: 400;
}

.user-menu-item input:focus {
  outline: 2px solid var(--outline-focus-form);
}

.search {
  width: 341px;
  padding: 20px 15px;
}

.user-btn-search:hover + .search {
  display: block;
}

.login {
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.login input {
  margin-bottom: 20px;
}

.login .btn {
  width: 103px;
  height: 44px;
  line-height: 16px;
  border-radius: 26px;
}

.login a {
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
  color: var(--basic-dark);
  border-bottom: 1px solid var(--transparent-dark);
}

.login a:hover,
.login a:active {
  color: var(--basic-orange);
  border-bottom-color: var(--link-hover-underline-2);
}

.login .login-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-btn-login:hover + .login {
  display: block;
}

.work-schedule {
  position: absolute;
  top: 75px;
  right: 27px;
  font-weight: bold;
  text-align: right;
}

.work-schedule p {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
}

.work-schedule a {
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider {
  position: relative;
  margin-bottom: 50px;
  padding: 325px 0 90px;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-item {
  display: none;
}

.slide-title {
  width: 672px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.slide-current {
  display: block;
}

.slider-control {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 79px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-slider-control {
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: transparent;
}

.btn-slider-control:hover {
  background-color: var(--btn-slider-hover);
}

.btn-slider-control:active {
  background-color: var(--basic-white);
}

.btn-slider-control:focus {
  outline: none;
}

.btn-slider-current {
  background-color: var(--basic-white);
}

.slider .btn {
  position: absolute;
  bottom: 0;
  width: 261px;
  height: 62px;
  margin-left: -130.5px;
  padding: 9px 0;
  font-size: 32px;
  line-height: 44px;
}

.promotions {
  margin-bottom: 34px;
}

.promotions-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promotion-item {
  position: relative;
  min-height: 229px;
  padding: 16px 22px 22px 16px;
  font-weight: bold;
  border-radius: 16px;
}

.promotion-item h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
}

.promotion-item p {
  font-size: 18px;
  margin: 0;
  margin-top: 16px;
}

.promotion-item .btn {
  position: absolute;
  bottom: 22px;
  right: 22px;
  display: inline-block;
  padding: 12px 22px;
  font-size: 18px;
  line-height: 24px;
}

.promotion-raspberry {
  background-image: url("../img/bg-promotion-raspberry.jpg");
}

.promotion-chocolate {
  background-image: url("../img/bg-promotion-chocolate.jpg");
}

.hits {
  margin-bottom: 43px;
}

.hits-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  width: 293px;
  padding: 6px 13px 0;
  min-height: 320px;
}

.product-item:hover {
  padding: 6px 13px 21px;
  background-color: var(--transparent-white);
  border-radius: 4px;
  box-shadow: var(--product-hover-shadow);
}

.product-item:hover .product-btn {
  display: block;
}

.hits-list .product-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url("../img/icons/hit.svg");
}

.product-price {
  position: absolute;
  top: 216px;
  left: 13px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: var(--price-shadow);
}

.product-price span {
  font-size: 30px;
  line-height: 30px;
}

.product-title {
  margin: 0;
  margin-top: 13px;
  font: inherit;
  text-align: center;
}

.product-title a {
  color: inherit;
  border-bottom: 1px solid var(--transparent-white);
}

.product-title a:hover,
.product-title a:active {
  color: var(--link-hover);
  border-color: var(--link-hover-underline);
}

.product-title a:focus {
  outline: none;
}

.product-btn {
  display: none;
  margin: 0 auto;
  margin-top: 18px;
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 50px;
}

.features {
  margin-bottom: 40px;
  padding: 24px 20px;
  color: var(--basic-dark);
  background: url("../img/pattern.jpg") 0 0 repeat;
  border-radius: 16px;
}

.features p {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 485px;
  margin-left: 55px;
  font-weight: 400;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -55px;
  width: 49px;
  height: 49px;
  background-color: transparent;
  border: 2px solid var(--basic-dark);
  border-radius: 50%;
}

.feature-item:nth-child(1):before {
  background-image: url("../img/feature-1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.feature-item:nth-child(2):before {
  background-image: url("../img/feature-2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.feature-item:nth-child(3):before {
  background-image: url("../img/feature-3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.feature-item:nth-child(4):before {
  background-image: url("../img/feature-4.png");
  background-position: center;
  background-repeat: no-repeat;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.blog-preview {
  height: 220px;
  padding: 23px 20px;
  color: var(--basic-dark);
  background: url("../img/bg-blog-preview.jpg") 0 0 no-repeat;
  border-radius: 16px;
}

.blog-title {
  margin: 0;
  margin-top: 15px;
}

.blog-title a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: inherit;
  text-decoration: underline;
}

.news-subscription {
  height: 220px;
  padding: 5px 6px;
  background: url("../img/bg-news-subscription.jpg") 0 0 no-repeat;
  border-radius: 16px;
}

.news-subscription-inner {
  height: 100%;
  padding: 29px 20px;
  background-color: var(--bg-form);
  border-radius: 16px;
}

.news-subscription p {
  margin: 0;
  margin-bottom: 46px;
  font-weight: 400;
  color: var(--basic-dark);
}

.news-subscription-columns {
  display: flex;
}

.subscription-form input {
  width: 368px;
  height: 44px;
  padding: 16px 14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  background-color: var(--basic-white);
  border: 1px solid var(--border-form);
  border-radius: 6px;
}

.subscription-form input:hover {
  border: 2px solid var(--border-form-hover);
}

.subscription-form input:focus,
.subscription-form input:placeholder-shown {
  font-weight: 400;
}

.subscription-form input:focus {
  outline: 2px solid var(--outline-focus-form);
}

.subscription-form .btn {
  width: 130px;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
}

.map-and-contacts {
  position: relative;
  height: 430px;
}

.contact-info {
  position: absolute;
  top: 62px;
  right: 0;
  width: 303px;
  padding: 32px 25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border-radius: 16px;
}

.contact-info p {
  margin: 0;
  margin-bottom: 30px;
}

.contact-info b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contact-info a {
  color: var(--basic-dark);
}

.contact-info a:focus {
  outline: none;
}

.contact-info .btn {
  width: 253px;
  height: 43px;
  font-size: 18px;
  line-height: 24px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb-item {
  position: relative;
  margin-right: 20px;
}

.breadcrumb-item:last-child {
  margin-right: 0;
}

.breadcrumb-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -14px;
  width: 6px;
  height: 6px;
  background: url("../img/icons/arrow.svg") 0 0 no-repeat;
}

.breadcrumb-current::after {
  display: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: inherit;
  border-bottom: 1px solid var(--transparent-white);
}

.breadcrumb-current a {
  border-bottom: none;
}

.breadcrumb-item:not(.breadcrumb-current) a:hover,
.breadcrumb-item:not(.breadcrumb-current) a:active {
  color: var(--link-hover);
  border-color: var(--link-hover-underline);
}

.breadcrumb-item a:focus {
  outline: none;
}

.catalog-title {
  margin: 0;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 869px;
  height: 130px;
  margin: 29px 0 34px;
}

.filter-form fieldset {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
}

.sorting select {
  width: 196px;
  height: 36px;
  padding: 0 16px;
  font: inherit;
  color: var(--basic-white);
  border: none;
  background-color: var(--transparent-white);
  border-radius: 20px;
  appearance: none;
}

.sorting select:hover {
  color: var(--basic-dark);
}

.sorting select:focus {
  outline: none;
}

.sorting select::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: var(--basic-white) transparent transparent transparent;
}

.range-controls {
  position: relative;
  width: 218px;
  height: 36px;
  padding: 17px 21px 0;
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--price-range-scale);
}

.range-controls .bar {
  width: 98px;
  height: 2px;
  margin-left: 23px;
  background-color: var(--bg-form);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--bg-form);
  border-radius: 50%;
  background-color: var(--price-range-toggle-bc);
  box-shadow: 0 2px 0 0 var(--price-range-toggle-bc);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}

.fatness ul {
  display: flex;
  justify-content: space-between;
  width: 425px;
  height: 36px;
  margin: 0;
  padding: 7px 14px;
  list-style: none;
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.fatness-input-radio + label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 33px;
}

.fatness-input-radio + label::before,
.fatness-input-radio + label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.fatness-input-radio + label::before {
  top: 0;
  left: -32px;
  width: 21px;
  height: 21px;
  border: 3px solid var(--filter-point);
}

.fatness-input-radio:checked + label::after {
  top: 6.5px;
  left: -25.5px;
  width: 8px;
  height: 8px;
  background-color: var(--filter-point);
}

.fatness-input-radio:hover + label::before {
  border-color: var(--basic-white);
}

.fatness-input-radio:hover + label::after {
  background-color: var(--basic-white);
}

.fatness-input-radio:disabled + label::before {
  border-color: var(--filter-point-disabled);
}

.fatness-input-radio:disabled + label::after {
  background-color: var(--filter-point-disabled);
}

.fillers ul {
  display: flex;
  width: max-content;
  height: 36px;
  margin: 0;
  padding: 7px 16px 0;
  list-style: none;
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.fillers li {
  margin-right: 20px;
}

.fillers li:last-child {
  margin-right: 0;
}

.filler-input-checkbox + label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 32px;
}

.filler-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--filter-point);
  border-radius: 2px;
}

.filler-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  width: 16px;
  height: 10px;
  border: 4px solid var(--filter-point);
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.filler-input-checkbox:hover ~ label::before,
.filler-input-checkbox:hover ~ label::after {
  border-color: var(--basic-white);
}

.filler-input-checkbox:disabled ~ label::before,
.filler-input-checkbox:disabled ~ label::after {
  border-color: var(--filter-point-disabled);
}

.filter-button {
  width: 144px;
  height: 36px;
  margin-top: 23px;
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: 2px solid var(--basic-white);
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.products-list .product-item {
  width: 267px;
  padding: 6px 0 0;
}

.products-list .product-item:hover {
  width: 293px;
  padding: 6px 13px 21px;
}

.products-list .product-price {
  left: 0;
}

.products-list .product-item:hover .product-price {
  left: 13px;
}

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  width: 254px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination-item a {
  display: inline-block;
  width: 26px;
  padding: 2px 0;
  color: inherit;
  text-align: center;
  border-radius: 50%;
}

.catalog-pagination-item a:hover {
  background-color: var(--transparent-white);
}

.catalog-pagination-item .pagination-disabled {
  opacity: 0.2;
}

.catalog-pagination-item .pagination-disabled:hover {
  background-color: transparent;
}

.catalog-pagination-item .pagination-current {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.catalog-pagination-item .pagination-current:hover {
  background-color: var(--basic-white);
}

.main-footer {
  padding: 18px 0 26px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-right: 12px;
}

.footer-social li:last-child {
  margin: 0;
}

.social-btn {
  width: 32px;
  height: 32px;
  color: inherit;
}

.social-btn:hover,
.social-btn:focus {
  background-color: var(--basic-white);
}

.footer-navigation {
  justify-self: center;
  width: 324px;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  border-bottom: 1px solid var(--transparent-white);
}

.footer-menu-item a:hover,
.footer-menu-item a:active {
  color: var(--link-hover);
  border-color: var(--link-hover-underline);
}

.footer-menu-item a:focus {
  outline: none;
}

.footer-menu-item:first-child a {
  position: relative;
  font-weight: bold;
}

.footer-menu-item:first-child a::before {
  content: "";
  position: absolute;
  left: -22px;
  bottom: 0;
  width: 15px;
  height: 13px;
  background: url("../img/icons/heart.svg") 0 0 no-repeat;
}

.footer-copyright {
  max-width: 190px;
  justify-self: end;
}

.footer-copyright p {
  margin: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright-link {
  color: inherit;
  border-bottom: 1px solid var(--transparent-white);
}

.copyright-link:hover,
.copyright-link:active {
  color: var(--link-hover);
  border-color: var(--link-hover-underline);
}

.copyright-link:focus {
  outline: none;
}

.modal-feedback {
  display: none;
  width: 477px;
  padding: 20px 23px;
  background-color: var(--bg-form);
  border-radius: 6px;
}

.modal-feedback p {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-dark);
}

.feedback-form input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding: 16px 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  background-color: var(--basic-white);
  border: 1px solid var(--border-form);
  border-radius: 4px;
}

.feedback-form textarea {
  width: 100%;
  height: 154px;
  margin-bottom: 25px;
  padding: 16px 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  background-color: var(--basic-white);
  border: 1px solid var(--border-form);
  border-radius: 4px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid var(--border-form-hover);
}

.feedback-form input:focus,
.feedback-form input:placeholder-shown,
.feedback-form textarea:focus,
.feedback-form textarea:placeholder-shown {
  font-weight: 400;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: 2px solid var(--outline-focus-form);
}

.feedback-form .btn {
  width: 140px;
  height: 44px;
}
